<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoClicker.Properties.Settings>
            <setting name="RegisterHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkStartClickingKey" serializeAs="String">
                <value>F2</value>
            </setting>
            <setting name="hkStartClickingCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkStartClickingAlt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkStartClickingShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkStartClickingWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkStopClickingKey" serializeAs="String">
                <value>F3</value>
            </setting>
            <setting name="hkStopClickingCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkStopClickingAlt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkStopClickingShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkStopClickingWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkToggleClickingKey" serializeAs="String">
                <value>F6</value>
            </setting>
            <setting name="hkToggleClickingCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkToggleClickingAlt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkToggleClickingShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkToggleClickingWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopWhenMouseMoves" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopWhenCtrlPressed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopWhenCapsPressed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCountdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ClicksPerSecond" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="StartDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
        </AutoClicker.Properties.Settings>
    </userSettings>
</configuration>